name: totoro

on:
  push:
    branches:
      - "main"

jobs:
  Build-image:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/totoro:latest
            ${{ secrets.DOCKER_USERNAME }}/totoro:0.0.${{github.run_number}}

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: "3.9.2"

      - name: Checkout gitops repo
        uses: actions/checkout@v3
        with:
          repository: ${{ secrets.GH_USERNAME }}/totoro-gitops
          token: ${{ secrets.GH_TOKEN }}
          path: "totoro-gitops"

      - name: Update image tags
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          cd totoro-gitops/totoro/kustomize/dev
          kustomize edit set image ${DOCKER_USERNAME}/totoro=${DOCKER_USERNAME}/totoro:0.0.${{github.run_number}}
          git config user.name ${DOCKER_USERNAME}
          git config user.email  4044094+hardy4yooz@users.noreply.github.com 
          git add .
          git commit -m "Auto comment at commit: $GITHUB_SHA"
          git push
